body{
  display: flex;
}
section.home{
  background-color: black;
}
section.idiomas{
  background-color: blue;
}
section.servicos{
  background-color: red;
}
section.contato{
  background-color: green;
}
@media (max-width: 600px){
body{
  display: block;
}

}
