body {
  background-image: url('BGProv.jpg');
  background-size: cover;
  margin: 0;

}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home {

}

.idiomas img {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

}

.servicos {

}

.contato {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: large;

}

.rodape {
  color: white;
  font-family: sans-serif;
  background-color: black;
  height: 150px;

}
