body {
  background-image: url('imagens/carta-pronta.jpg');
  background-size: cover;
  margin: 0;

}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
}

a{
  color: white;
  text-decoration: none;
}

.home {
}

.idiomas img {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

}

.servicos {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.servicos-esquerda{
  width: 50%;

}

.servicos-direita{
    width: 50%;
    color: white;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

}

.servicos-direita img{
  height: 120px;
}
.servicos-direita td{
  padding: 0;
}

.servicos ul{
  color: white;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}
.servicos li{
  padding-bottom: 60px;
}

.pad{
  padding-left: 50px;
}


.historia{
  color: white;
    margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-family: 'Julius Sans One', sans-serif;
}

.contato {
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: large;

}

.rodape {
  color: white;
  font-family: sans-serif;
  background-color: black;
  height: 150px;

}
@media (max-width: 600px){
body{
}
.servicos{
  display: block;
  width: 100%;
}
.servicos-direita{
  display: flex;
  width: 100%;
}
.servicos-esquerda{
  width: 100%;
}
.servicos-direita img{
  height: 50px;
}
table{
  width: 100%;
}
}
